{
    "output": "./concrete.phar",
    "git-tag": "concrete_version",
    "force-autodiscovery": true,
    "finder": [
        {
            "in": "art"
        },
        {
            "in": ".concrete",
            "name": [
                "index.maintenance.php"
            ]   
        },
        {
            "in": "vendor",
            "notName": [
                "*.dist",
                "*.md",
                "*.neon",
                "*.txt",
                "appveyor.yml",
                "build.xml",
                "CodeSniffer.conf.*",
                "composer.json",
                "composer.lock",
                "LICENSE",
                "Makefile",
                "phive.xml",
                "phpbench.json",
                "phpcs.xml",
                "phpcs.xsd",
                "phpunit.xml",
                "psalm.xml",
                "README"
            ],
            "exclude": [
                "bin",
                "docs",
                "examples",
                "test",
                "tests",
                "Tests"
            ]
        }
    ],
    "compactors": [
        "KevinGH\\Box\\Compactor\\Php",
        "KevinGH\\Box\\Compactor\\Json"
    ]
}